.discount {
  padding: 70px 20px 90px 20px;
  background-color: var(--beige);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-weight: 900;
  font-size: 36px;
  line-height: 130%;
  color: var(--black);

  span {
    display: block;
  }
}

.description {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: var(--black);
}

@media (min-width: 480px) {
  .title {
    font-size: 40px;
  }

  .description {
    max-width: 380px;
  }
}

@media (min-width: 768px) {
  .discount {
    padding: 90px 20px 110px 20px;
  }

  .wrapper {
    gap: 30px;
  }

  .title {
    font-size: 48px;

    span {
      display: inline;
    }
  }

  .description {
    font-size: 21px;
    max-width: 650px;
  }
}

@media (min-width: 1000px) {
  .discount {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    max-width: 470px;
  }

  .title span {
    display: block;
  }

  .description {
    width: 100%;
  }
}

@media (min-width: 1920px) {
  .discount {
    padding: 135px;
    gap: 61px;
  }

  .wrapper {
    max-width: 667px;
  }

  .title span {
    display: inline;
    font-size: 47px;
  }
}
