.section {
  padding: 70px 20px 90px 20px;
  background-color: var(--beige);
}

@media (min-width: 768px) {
  .section {
    padding: 90px 20px 110px 20px;
  }
}

@media (min-width: 1000px) {
  .section {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1920px) {
  .section {
    padding: 135px;
    gap: 61px;
  }
}
