:root {
  --black: #2c2c2c;
  --beige: #f7ede4;
  --white: #fdfbf9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--white);
}

a {
  text-decoration: none;
}
